# OS
.DS_Store

# Bin
bin/
target/

# dependencies
/vs-extension/node_modules
/vs-extension/.pnp
/vs-extension/.pnp.js
/vs-extension/.yarn/install-state.gz
/web-app/node_modules
/web-app/.pnp
/web-app/.pnp.js
/web-app/.yarn/install-state.gz

# testing
/vs-extension/coverage
/web-app/coverage

# next.js
/web-app/.next/
/web-app/out/

# production
/web-app/build

# misc
.DS_Store
*.pem
/.idea
/vendor-proto

# debug
/web-app/npm-debug.log*
/web-app/yarn-debug.log*
/web-app/yarn-error.log*

# local env files
/web-app/.env*.local

# vercel
/web-app/.vercel

# typescript
/web-app/*.tsbuildinfo
/web-app/next-env.d.ts

